/* font start  */
.quicksand-uniquifier{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}   /* Font End  */
    /* Share Start  */
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;   
  border: 1px solid red;
}
body{
  max-width: 1440px;  
  background-image: url("../assets/bg.png");  
  border: 2px dashed green;
}
.display-flex{
  display: flex;  
}
.display-grid{
  display: grid;
}
.display-none{
  display: none;
}
.btn{
  font-size: 1rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color:rgba(60, 216, 232, 1);
  border-radius: 48px;
  padding:20px;
  border: none;
}
.color-1{
  color: skyblue;
}
.color-2{
  color: orange;
}
.color-3{
  color: #05D4DF;
}
.color-4{
  color: #5D58EF;
}
.color-5{
  color: #8700FF;
}
.linear-1{
  background-image: linear-gradient(#DEF5FF,#ffffff);
}
.linear-2{
  background-image: linear-gradient(#FFF4DC,#ffffff);
}
.linear-3{
  background-image: linear-gradient(#F2E8FF,#ffffff);
}
/* Share End  */
    
/* Header Nav Start  */
.nav{ 
  margin: 1.25rem 10.7%;
  align-items: center;
  justify-content: space-between;
}
.nav-title{
  justify-content: center;
  align-items: center;
}
.nav-name{ 
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
.nav-content a{
  text-decoration: none;
  font-size: 1.25;
  font-weight: 700;
}
.nav-content ul{
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.nav-content li{
  margin-right: 20px;  
}
.nav-btn{
  font-size: 1.25rem;
  font-weight: 600;
  color: #FFFFFF;
  background-color: orange;
  border-radius: 12px;
  padding: 10px;
  border: none;
}
.nav-icon{
  display: none;
}
/* Header Nav End  */

/* Marquee Section Starts  */
.marquee{
  max-width: 100%;
  margin: 20px;
  position: relative;
  overflow: hidden;
  }
.marquee-title{
  max-width: 100%; 
  font-size: 30px;
  font-weight: 700;    
  white-space:nowrap;    
  animation: marquee 10s linear  infinite;
}

@keyframes marquee {
  from{
    transform: translateX(100%);
    color: hwb(258 0% 2%);
  }
  to{
    transform: translateX(-100%);
    color: #14e642;
  }
}
/* Marquee Section End  */

/* Banner Start  */
.banner{
  margin:0 9%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}
.banner-img{
  margin-left: 3.4%;  
}
.b-img{
  max-width: 100%;
  height: auto;
}
.banner-content{
  margin: 7.625rem 0rem;
  max-width: 100%;
}
.banner-name{
  font-size: 2rem;  
  font-weight: 700;
}
.banner-text{
  font-weight: 400;
  font-size: 1.25rem;
  color: black;
  margin: 1.5rem 0;
}
.banner-btn{
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: black;
  border-radius: 0.75rem;
  padding: 10px;
}
/* Banner End */

 /* Curriculum Section Start  */

 .cards{
  margin: 0 9.5%;
  gap: 24px;
  text-align: center;
  align-items: center; 
 }
 .card{ 
  border-radius: 20px;
  
 }
 .linear-3:hover{
  box-shadow: 1px 1px 10px  rgb(199, 166, 230);
 }
 .linear-2:hover{
  box-shadow: 1px 1px 10px  rgb(235, 223, 160);
 }
 .linear-1:hover{
  box-shadow: 1px 1px 10px  #94c7dd;
 }
.center-title{
  font-size: 2.75rem;
  font-weight: 700;
  text-align: center;
  margin: 5rem 0;
}
.card-name{
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem 0;
}
.card-text{
  font-size: 1rem;
  font-weight: 500;
}
.card-img{
  margin-top: 3.125rem;
}
.card-more{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  margin: 2.25rem;
  }
  .card-more a{
    text-decoration: none;   
  }
  
 /* Curriculum Section End  */

 /* Arrow section start  */
 .arrow{  
  text-align: center;
  margin: 60px 0;
}
.icon{
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: orange;
  border-radius: 50%;  
  border: none;
  font-size: 50px;
}
/* Arrow section End  */

 /* Stories Section Start  */
 .stories-content{
  grid-template-columns: repeat(2,1fr);
  gap: 3%;  
 }
 .stories{
  max-width: 100%;  
  background-image: linear-gradient(#ffffff, #FFE2B0);  
 }
 .stories-cards{
  margin: 80px 9.5%;
   gap: 1.56%;
 }
 .stories-center{  
  border-radius: 16px;
  border: none;
  position: relative;
  background-color: #ffffff;  
  max-width: 100%;
 }
 .stor-pic{
  max-width: 100%;
 }
 .box{
 
  border-radius: 16px;
  border: none;  
  background-color: #ffffff;
  max-width: 100%;
 }
 .box-img{
  max-width: 100%;
 }
 .box-1, .box-2,
 .box-3, .box-4{
  position: relative;
 }
 .stories-title{
  font-size: 46px;
  font-weight: 700;
  padding-top: 3.75rem;
  text-align: center;

 }
 .stories-name{
  font-size: 1.5rem;
  font-weight: 700;
  margin: 58px 0 47px 0;
  padding: 0 7%;
 }
 .stories-text{
  font-size: 1rem;
  font-weight: 500;
  padding: 0 7%;
 }
 .box-text{
  font-size: 1rem;
  font-weight: 700;
  padding: 19px 21% 28px 21%;
 }
 .stories-all{
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFFFFF;
  background-color: black;
  border-radius: 0.75rem;
  padding: 10px 60px;
  border: none;
  margin-bottom: 60px;  
 }
 .view-batn{
  text-align: center;
 }
 .center-btn{
 position: absolute; 
 left: 35px;
 top: 19.3rem; 
  }
  .box-btn{
    position: absolute;  
    left: 35px;
    top: 160px;  
    padding: 10px 20px;   
    background-color: #95B226;  
     }
     .btn-2{
      background-color: #5D58F0;
     }
 /* Stories Section End  */

 /* Footer Section Start  */
 .footer{ 
  max-width: 100%;  
  background-color: #01ACFD;   
 } 
 .footer-start{  
  justify-content:space-between;
  align-items: center;
  padding: 120px 140px;
  color: #FFFFFF;
 }
.footer-link a{
  text-decoration: none;
  color: #FFFFFF; 
  font-size: 20px;
  font-weight: 500;
 }
 .f-n-about{
  font-size: 24px;
  font-weight: 700;
 }
.footer-link li{
  list-style: none; 
  padding: 10px;
}
.footer-link{
  margin-top: 20px;
}
.footer-text{
  font-size: 20px;
  font-weight: 400;  
  max-width: 400px;
  margin-top: 35px;
}
.f-m-title{
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2rem;
}
.footer-icon img{
  margin-right: 10px;
  
}
.footer-logo img{
  background-color: #ffffff;
}
 /* Footer Section End */

/*Responsive max-width:576px  */
@media screen and (max-width:576px)
{
  /* Header Nav Start  */
.nav-content,
.nav-btn,
.nav-name{
  display:none;
}
.nav{
  margin: 0.75rem 5%;
  display: block;
}
.nav-icon{
  display: block;  
  width: 1.875rem;
  height: 1.875rem;  
}
.nav-img{
  width: 2.875rem;
  height: 2.875rem;
}
.nav-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 /* Header Nav End  */

  /* Banner Start  */
  .banner{
    flex-direction: column-reverse;
    margin: 0;    
  }
  
  .banner-content{
    text-align: center;
    margin:20px 5%;
  }
  .banner-img{
    margin-left: 10%;
      }
      .b-img{
        max-width: 90%;        
      }
  /* Banner End  */

  /* Curriculum Section Start  */
  .cards{
    flex-direction: column;
    margin: 0 16px;
    gap: 12px;     
   }
   .center-title{
    margin: 20px 0;
   }
  /* Curriculum Section End  */

  /* arrow section Start  */
  .arrow{
    display: none;
  }
   /* arrow sectino End  */

   /* Stories Box Start */
   
   .stories-center{
    display: none;
   }
   .stories-title{
    
   }
   .stories-content{
    grid-template-columns: repeat(2,1fr);
    gap: 11px;   
   }   
   .stories-cards{
    justify-content: center;    
  margin: 80px 16px;
  gap: 0;
 }
   .box-2{
    display: block;
   }
 .box{
  max-width: 175px;
 }
   .box-img{
    max-width: 175px;
   }
   .box-btn{
    font-size: 10px;
    font-weight: 500;
    padding: 8px 10px;
    left: 33px;
    top: 95px;
   }
   /* Stories Box End  */

    /* Footer Start  */
.footer-start{
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 20px;
}
.footer-nav{
  margin: 2rem 0;
}
     /* Footer End  */
}